<form>
    <div [hidden]="ajout">
      <label>ID Catégorie</label>
      <input
        type="text"
        [readOnly]="!ajout"
        [(ngModel)]="theme.idTheme"
        name="idCategorie"
        class="form-control w-25"
      />
    </div>
    <div>
      <label>Nom Catégorie</label>
      <input
        type="text"
        [(ngModel)]="theme.nomTheme"
        name="nomCategorie"
        class="form-control"
        placeholder="Entrez un nom de catégorie..."
      />
    </div>
    <div class="mt-2">
      <button
        type="submit"
        [disabled]="!theme.nomTheme"
        class="btn btn-success"
        (click)="saveGenre()"
      >
        {{ ajout ? "Ajouter" : "Modifier" }}
      </button>
    </div>
  </form>
